<div class="card">
  <div class="card-header">Contacts</div>
  <div class="card-body">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
          <th scope="col">Callsign</th>
          <th scope="col" class="d-none d-md-table-cell">Frequency</th>
          <th scope="col" class="d-none d-md-table-cell">Mode</th>
          <th scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contact of contacts">
          <td>{{contact.date}}</td>
          <td>{{contact.date}}</td>
          <td>{{contact.callsign}}</td>
          <td class="d-none d-md-table-cell">{{contact.frequency}}</td>
          <td class="d-none d-md-table-cell">{{contact.mode}}</td>
          <td><button type="button" class="btn btn-outline-dark btn-sm">Edit</button></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>