<div class="card">
  <div class="card-header">Contacts</div>
  <div class="card-body">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
          <th scope="col">Callsign</th>
          <th scope="col" class="d-none d-md-table-cell">Frequency</th>
          <th scope="col" class="d-none d-md-table-cell">Mode</th>
          <th scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2021-02-22</td>
          <td>13:54</td>
          <td>N4XAE</td>
          <td class="d-none d-md-table-cell">14,252.0</td>
          <td class="d-none d-md-table-cell">SSB</td>
          <td><button type="button" class="btn btn-outline-dark btn-sm">Edit</button></td>
        </tr>
        <tr>
          <td>2021-02-22</td>
          <td>13:57</td>
          <td>KN4QNT</td>
          <td class="d-none d-md-table-cell">14,252.0</td>
          <td class="d-none d-md-table-cell">SSB</td>
          <td><button type="button" class="btn btn-outline-dark btn-sm">Edit</button></td>
        </tr>
        <tr>
          <td>2021-02-22</td>
          <td>13:58</td>
          <td>KB5VLU</td>
          <td class="d-none d-md-table-cell">14,252.0</td>
          <td class="d-none d-md-table-cell">SSB</td>
          <td><button type="button" class="btn btn-outline-dark btn-sm">Edit</button></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>