<ng-container *ngIf='contacts.length > 0; else noContacts'>
  <div class="card">
    <div class="card-header">Contacts</div>
    <div class="card-body">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Callsign</th>
            <th scope="col" class="d-none d-md-table-cell">Frequency</th>
            <th scope="col" class="d-none d-md-table-cell">Mode</th>
            <th scope="col">Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let contact of contacts">
            <td>{{contact.time | date }}</td>
            <td>{{contact.time | date:'h:mm a z'}}</td>
            <td>{{contact.callsign}}</td>
            <td class="d-none d-md-table-cell">{{contact.frequency}}</td>
            <td class="d-none d-md-table-cell">{{contact.mode}}</td>
            <td><button type="button" class="btn btn-outline-dark btn-sm" (click)="deleteContact(contact.id)">Delete</button></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</ng-container>

<ng-template #noContacts>
  <div class="card">
    <div class="card-header">Contacts</div>
    <div class="card-body">
      <p>No contacts have been filed yet</p>
    </div>
  </div>
</ng-template>