<div class="card mt-4">
  <div class="card-header">Add Contact</div>
  <div class="card-body">

    <!-- Only shows if hasError is true-->
    <div *ngIf="hasError" class="alert alert-danger" role="alert">
      Please correct errors in the form before continuing.
    </div>

    <form id="new-contact" class="mb-2" (submit)="logButtonClicked($event)">

      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6">

              <div class="form-group">
                <label for="callsign" id="callsign-label">Callsign</label>
                <input [(ngModel)]="callsign" (blur)="callsignChanged()" type="text" class="form-control" name="callsign" id="callsign" aria-describedby="callsign-help" required>
                <small id="callsign-help" class="form-text text-muted">The callsign of the person you've
                  contacted.</small>
              </div>
              <div class="form-group">
                <label for="frequency">Frequency</label>
                <input [(ngModel)]="frequency" type="text" class="form-control" name="frequency" id="frequency" required>
              </div>

          </div>

          <div class="col-12 col-md-6">
            <div class="form-group">
              <label for="mode">Mode</label>
              <select [(ngModel)]="mode" class="form-control" id="mode" name="mode" required>
                <option *ngFor="let mode of modes" [value]="mode">{{mode}}</option>
              </select>
            </div>
              <div class="form-group">
                <label for="notes">Notes</label>
                <textarea class="form-control" id="notes" name="notes" rows="3" [(ngModel)]="notes"></textarea>
              </div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Log</button>
      </div>
      
    </form>
  </div>
</div>